.card {
    height: 20vh;
    margin: 6px 7px 6px 7px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 10px 2%;
    color: black;
}

.card:hover {
    border-radius: 0.5em 0em;
    box-shadow: -3px 3px 1px rgb(254, 0, 216);
    font-weight: 900;
}

.card img {
    height: 20vh;
    min-width: 15vh;
}

.card_info {
    padding-left: 10px;
}

.card_info h3 {
    font-family: 'Bebas Neue';
    color: #344055;
    margin: 0;
    max-height: 40%;
    overflow: hidden;
}

.card_info p {
    font-family: 'EB Garamond', serif;
    color: #7d7d7d;
}